
$Blue: #566CD6!default;
$Text: #40415E!default;
$Bgradiente1: #F2F4FF!default;
$Bgradiente2: #FbFCFF!default;

$normal: #A8A77A!default;
$fire: #EE8130!default;
$water: #6390F0!default;
$electric: #F7D02C!default;
$grass: #7AC74C!default;
$ice: #96D9D6!default;
$fighting: #C22E28!default;
$poison: #A33EA1!default;
$ground: #E2BF65!default;
$flying: #A98FF3!default;
$psychic: #F95587!default;
$bug: #A6B91A!default;
$rock: #B6A136!default;
$ghost: #735797!default;
$dragon: #6F35FC!default;
$dark: #705746!default;
$steel: #B7B7CE!default;
$fairy: #D685AD!default;